body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



* {
      margin: 0px;
      padding: 0px;
}
.header {
  background-color: lightskyblue;
  padding: 20px;
}
.totalDebt {
  margin-top: 30%;
  margin-bottom: 20%;
}
.firstContainer{
  background-color: aqua;
  font-size: 30px;
  padding: 30px;
  margin: 0 30px;
  border-radius: 1000px;
}

.incompleted {
  margin-top: 100px;
}
.red{
  background-color: red;
}